services:
  backend:
    build: .
    volumes: 
      - .:/app
    depends_on:
      - db
    ports: 
      - "8000:8000"
    command: sh -c "fastapi dev app/main.py --host 0.0.0.0 --port 8000"

  db:
    image: mysql:latest
    container_name: mysql_container
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data: